
@{
    ViewBag.Title = "Earth";
}

<!-- libraries-->
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="@Url.Content("~/Content/jquery.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/bootstrap.js")"></script>

<!-- custom files-->
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/index.css")">
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap.min.css")">

<div style="text-align: center ;overflow:hidden; margin-top:60px;">
    <svg id="svg" width="100%" height="100%" viewBox="0 0 600 600" preserveAspectRatio="xMidYMid" style="background-image: url( '@Url.Content("~/Content/bg1.jpg")' );background-size:100%;background-repeat:no-repeat;text-align:center;border-style: solid; border-width:1px; border-color:#000000 ;">
    </svg>
    <div style="position: fixed;bottom:10%;right:5%">
        <button id="enlargeBtn" type="button" style="width:80px" class="btn btn-primary">(+)放大</button>
        </br>
        <button id="shrinkdownBtn" type="button" style="width:80px" class="btn btn-primary">(-)縮小</button>
    </div>
</div>
<div id="msg"></div>
<div id="goodBadTables">
    
</div>

<script type="text/javascript" src="http://d3js.org/topojson.v1.min.js"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/earth.js")"></script>

